<template>
    <div class="row">

        <div class="col-md-12">
            <section class="alert alert-info">
                <p class="">
                    Ola, {{usuario.name}}
                </p>
            </section>
        </div>

        <section class="col-md-12" v-if="not_have_account() == true">
            <div class="col-12">
                <h2>Escolha um plano para começar a utilizar o sistema</h2>
            </div>
            <div class="col-12">
                <div class="row">
                    <article
                            v-for="account in accounts"
                            class="pricing-column col-md-3">
                        <div class="inner-box card-box">
                            <div class="plan-header text-center">
                                <h3 class="plan-title">{{account.name}}</h3>
                                <h2 class="plan-price">R$ {{account.value}}</h2>
                                <div class="plan-duration">Per Month</div>
                            </div>
                            <ul class="plan-stats list-unstyled text-center">
                                <li><b>{{account.qtde_users}}</b> Usuário(s)</li>
                                <li><b>{{account.qtde_events}}</b> Evento(s)</li>
                                <li><b>No</b> Domain</li>
                                <li><b>1</b> User</li>
                                <li><b>Email</b> Support</li>
                                <li><b>24x7</b> Support</li>
                            </ul>

                            <div class="text-center">
                                <button
                                        @click.prevent="save_account(account)"
                                        href="#"
                                        class="btn btn-success btn-bordered w-lg btn-md w-md btn-bordred btn-rounded waves-effect waves-light">Escolher</button>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

        </section>

    </div>
</template>

<script>
    export default {
        props:['usuario', 'accounts'],
        name: "dashboard",
        data(){
            return {
            }
        },
        created(){
        },
        methods:{
            save_account(account){
                let that = this;
                $.ajax({
                    url: window.web_app + '/api/empresas/account',
                    data:{
                        _token: window._token,
                        empresas_id: that.usuario.empresa.id,
                        acconts_id:  account.id,
                    },
                    dataType:'json',
                    method: 'post',
                    beforeSend(header){

                    }
                })
                .done(function (response) {
                    window.open(
                        window.web_app + '/admin/sales/' + response.id,
                        "_blank",
                        "toolbar=0,scrollbars=1,resizable=0,top=10,left=500,width=400,height=600"
                    );
                })
                .fail(function(response){
                    let html = '';
                    if(typeof response.responseJSON == 'object' || typeof response.responseJSON == 'Array'){
                        $.each(response.responseJSON, function(item, value){
                            html += value + "<br>";
                        });
                    } else{
                        html = response.responseJSON
                    }
                    that.$swal(
                        'Atenção',
                        html,
                        'warning');
                });
            },
            not_have_account(){
                return this.usuario.empresa.account == null || this.usuario.empresa.account.length == 0;
            }
        }
    }
</script>

<style scoped>

</style>