.event-box {
    border: solid 1px #c7c7c7;
}

.css-upload-cover-box {
    width: 100%;
    padding: 50px;
    border: dashed 2px #d4d4d4;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
}

.event-list-item {
    height: 120px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
}

.event-list-item h4 {
    z-index: 1;
}

.dark-glass {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.6);
}

.navbar-default{
    background-color: #2c2c2c  !important;
    height: 90px;
    padding: 10px;
}

@media (min-width: 768px){
    .navbar-nav {
        float: left;
        margin: 0;
        padding-top: 10px;
    }

    .navbar-nav a:hover{
        color: #fff;
    }
}

.galery-box {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.galery-box h5 {
    position: absolute;
    color: #fff;
    background: rgba(0,0,0,0.8);
    width: 100%;
    text-align: center;
    padding: 10px;
    bottom: 0;
    margin: 0;
}

.table-head>thead{
    background-color: #616161;
    color: #eceff1;
}


.panel-site {
    border-color: #263238;
}

.panel-site>.panel-heading {
    color: #eceff1;
    background-color: #263238;
    border-color: #263238;
}

.label-male {
    background-color: #1976d2;
}

.label-famale {
    background-color: #e91e63;
}

/*.alert-danger{*/
    /*background-color: #b71c1c;*/
    /*color: #eceff1;*/
    /*font-weight: 600;*/
    /*border: none;*/
/*}*/

/*.alert-success{*/
    /*background-color: #388e3c;*/
    /*color: #eceff1;*/
    /*font-weight: 600;*/
    /*border: none;*/
/*}*/

/*.alert-info{*/
    /*background-color: #0288d1 ;*/
    /*color: #eceff1;*/
    /*font-weight: 600;*/
    /*border: none;*/
/*}*/

.alert-primary{
    background-color: #00796b ;
    color: #eceff1;
    font-weight: 600;
    border: none;
}


/*.alert-warning{*/
    /*background-color: #ff8f00 ;*/
    /*color: #eceff1;*/
    /*font-weight: 600;*/
    /*border: none;*/
/*}*/


.btn-warning {
     color: #eceff1;
     background-color: #ff8f00;
     border-color: #ff8f00;
}
.btn-warning:active,.btn-warning:hover{
    color: #eceff1;
    background-color: #ef6c00;
    border-color: #ef6c00;
}

.btn-info {
    color: #eceff1;
    background-color: #0288d1;
    border-color: #0288d1;
}
.btn-info:active,.btn-info:hover{
    color: #eceff1;
    background-color: #0277bd ;
    border-color: #0277bd ;
}

.btn-danger {
    color: #eceff1;
    background-color: #c62828 ;
    border-color: #c62828;
}
.btn-danger:active,.btn-danger:hover{
    color: #eceff1;
    background-color: #b71c1c ;
    border-color: #b71c1c ;
}

.btn-primary {
    color: #eceff1;
    background-color: #00796b ;
    border-color: #00796b;
}
.btn-primary:active,.btn-primary:hover{
    color: #eceff1;
    background-color: #00695c  ;
    border-color: #00695c  ;
}


.btn-outline-warning {
    color: #ff8f00;
    background-color: #fff;
    border-color: #ff8f00;
    font-weight: 500;
}
.btn-outline-warning:active,.btn-outline-warning:hover{
    color: #ef6c00;
    background-color: #fff;
    border-color: #ef6c00;
    font-weight: 500;
}

.btn-outline-info {
    color: #0288d1;
    background-color: #fff;
    border-color: #0288d1;
    font-weight: 500;
}
.btn-outline-info:active,.btn-outline-info:hover{
    color: #0277bd;
    background-color: #fff ;
    border-color: #0277bd ;
    font-weight: 500;
}

.btn-outline-danger {
    color: #c62828;
    background-color: #fff ;
    border-color: #c62828;
    font-weight: 500;
}
.btn-outline-danger:active,.btn-outline-danger:hover{
    color: #b71c1c;
    background-color: #fff ;
    border-color: #b71c1c ;
    font-weight: 500;
}

.btn-outline-primary {
    color: #00796b;
    background-color: #fff ;
    border-color: #00796b;
    font-weight: 500;
}
.btn-outline-primary:active,.btn-outline-primary:hover{
    color: #00695c;
    background-color: #fff  ;
    border-color: #00695c  ;
    font-weight: 500;
}


.navbar-custom{
    background-color: #343c49;
}
.button-menu-mobile{
    background-color: #343c49;
}
