.event-list-cover {
    height: 150px;
}

.event-countdown {
    color: #fff;
}

.place-box {
    overflow: hidden;
    border-radius: 5px;
    background: #1c1c1c;
    padding: 0px 0 20px 0;
    margin: 10px;
    background-image: url('../images/patterns/pw_maze_black.png');
    background-repeat: repeat;
}

.place-name {
    margin-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.place-name a {
    color: #fff;
}
