<template>
    <div>
        <div class="row" v-if="dados_abertura_caixa.length == 0">
            <div class="col-md-12 p-t-40 text-center">
                <button
                        data-toggle="modal" data-target="#ModalAberturaCaixa"
                        class="btn btn-rounded btn-lg btn-warning ">
                    <i class="fa fa-dollar"></i> Abrir Caixa
                </button>
            </div>

            <!-- modal iniciar caixa -->
            <div class="modal fade m-t-40" id="ModalAberturaCaixa" tabindex="-1" role="dialog" aria-labelledby="ModalAberturaCaixa" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="text-center">Abertura de Caixa.</h2>
                        </div>
                        <div class="modal-body">
                            <input
                                class="form-control form-control-lg m-b-20"
                                v-model.lazzy="form_dados_abertura.valor"
                                v-money="money"
                                placeholder="$"
                            />

                            <button
                                class="btn btn-block btn-lg btn-custom"
                                @click.lazzy="cadastrar"
                            >
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" v-else>
            <!-- lista -->
            <div
                    v-if="caixa_fechado == false"
                    class="col-xs-12 col-md-12 col-lg-12">
                <el-tabs type="border-card">
                    <el-tab-pane
                            v-for="label in produtos_tabs.labels"
                            :label="label.descricao">
                        <div class="row">
                            <div v-for="(produto, key) in get_produtos(label.id)"
                                 class="col-md-2 col-sm-2 col-xs-6 m-b-10" >
                                <div class="card-box">
                                    <span style="font-size: 16px;" class="badge badge-purple noti-icon-badge" v-if="produto.amount > 0">{{produto.amount}}</span>
                                    <a href="#" @click.prevent="adicionar_lista(produto)">
                                        <div class="text-center col-md-12 col-sm-12 col-xs-12">
                                            <img :src="produto.thumb_path" class="img-responsive">
                                        </div>
                                        <div class="col-xs-12">
                                            <h5 class="title">{{produto.name}}</h5>
                                            <strong>R$ {{produto.valor}}</strong>
                                        </div>
                                    </a>
                                    <div class="col-xs-12 m-t-10" v-if="produto.amount > 0">
                                        <div class="input-group bootstrap-touchspin">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary bootstrap-touchspin-down" @click="remove_amount(produto)" type="button">-</button>
                                        </span>
                                            <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                            <input v-model="produto.amount" class="form-control text-center" style="display: block;" type="text">
                                            <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                            <span class="input-group-btn">
                                            <button class="btn btn-primary bootstrap-touchspin-up" @click="add_amount(produto)" type="button">+</button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12 text-center m-t-30">

                <button
                        v-if="caixa_fechado == true"
                        @click.prevent="imprimir_fechamento()"
                        class="btn btn-rounded btn-lg btn-primary">
                    <i class="fa fa-print"></i> IMPRIMIR FECHAMENTO
                </button>
            </div>
            <!-- fixed bar value and buttom-->
            <div
                class="row fixed-bottom text-center bg-light"
                style="padding: 10px">
                <div class="col-4">
                    <strong class="pull-left" style="font-size:30px;line-height: 28px;">R$ {{valor_total.toFixed(2)}}</strong>
                </div>
                <section class="col-8 pull-right">
                    <div class="row">
                        <div class="col-6" v-if="caixa_fechado == false">
                            <button
                                    @click.prevent="closure()"
                                    class="btn btn-rounded btn-primary">
                                <i class="fi-ban"></i>
                            </button>
                            <p>Fechar Caixa</p>
                        </div>
                        <div class="col-6" v-if="caixa_fechado == false">
                            <button
                                    data-toggle="modal" data-target="#exampleModalLong"
                                    class="btn btn-rounded btn-custom ">
                                <i class="fa fa-dollar"></i>
                            </button>
                            <p>Fechar Venda</p>
                        </div>
                    </div>
                </section>

            </div>
            <!-- modal fechar-->
            <div class="modal fade m-t-40" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="text-center" id="exampleModalLongTitle">
                                R$ {{valor_total.toFixed(2)}}
                            </h2>
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                            <!--<span aria-hidden="true">&times;</span>-->
                            <!--</button>-->
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12" v-for="item in formas_pagamentos">
                                    <div class="form-group">
                                        <span>{{item.nome}}:</span>
                                        <input
                                                v-model.lazzy="item.valor"
                                                v-money="money"
                                                placeholder="$"
                                                class="form-control form-control-lg" />
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="text-center">
                                        <button class="btn btn-lg btn-block btn-custom" @click.prevent="finalizar_compra();">Finalizar Compra</button>
                                        <button class="btn btn-lg btn-block btn-info m-t-10" data-dismiss="modal">
                                            Continuar Vendendo
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {Select, Tabs} from 'element-ui';
    import {VMoney} from 'v-money';

    export default {
        name: "pdv",
        props:['user', 'event'],
        directives: {money: VMoney},
        data(){
            return {
                activeName: '',
                form:{
                    id:null,
                    produto_id:'',
                    users_id:  this.user.id,
                    events_id: this.event.id,
                    forma_pagamento_id:'',
                    lista_produtos:[],
                },
                form_dados_abertura:{
                    valor:0
                },
                money: {
                    decimal: ',',
                    thousands: '.',
                    precision: 2,
                    masked: false /* doesn't work with directive */
                },
                key:'',
                item:'',
                valor_total:0.00,
                produtos: null,
                produtos_tabs: {
                    labels:[
                        {descricao:'Init', id:0}
                    ],
                    produtos:[],
                },
                lista_produtos_compra:[],
                formas_pagamentos:[],
                dados_abertura_caixa:{},
                caixa_fechado: false,
                dados_fechamento:[],
            }
        },
        created(){
            this.carregar_lista();
        },
        methods:{
            cadastrar(){
                let that = this;
                let dados = {
                    events_id: that.event.id,
                    users_id: that.user.id,
                    value: that.form_dados_abertura.valor,
                };
                $.ajax({
                    url: window.web_app + '/api/abrir-caixa',
                    data: dados,
                    dataType:'json',
                    method: 'post'
                }).done(function (response) {
                    $('#ModalAberturaCaixa').modal('hide');
                    $('#exampleModalLong').modal('hide');
                    that.dados_abertura_caixa = dados;
                })
                .fail(function(response){
                    let html = '';
                    if(typeof response.responseJSON == 'object' || typeof response.responseJSON == 'Array'){
                        $.each(response.responseJSON, function(item, value){
                            html += value + "<br>";
                        });
                    } else{
                        html = response.responseJSON;
                    }
                    that.$swal(
                        'Atenção',
                        html,
                        'warning');
                });
            },
            add_amount(produto){
                let that = this;
                $.each(that.lista_produtos_compra, function (item, value) {
                    if(produto.id == value.id){
                        that.lista_produtos_compra[item].amount += 1;
                    }
                });
                that.calcula_lista_produtos();
            },
            remove_amount(produto){
                let that = this;
                $.each(that.lista_produtos_compra, function (item, value) {
                    if(produto.id == value.id){
                        that.lista_produtos_compra[item].amount -= 1;
                        if(that.lista_produtos_compra[item].amount == 0){
                            that.lista_produtos_compra.slice(item, 1);
                        }
                    }
                });
                that.calcula_lista_produtos();
            },
            carregar_lista(){
                let that = this;

                $.ajax({
                    url: window.web_app + '/api/carregar-modelo',
                    data:{
                        user_id:     that.user.id,
                        empresas_id: that.user.empresas_id,
                        event_id:    that.event.id
                    },
                    type: 'get',
                    dataType: 'json'
                }).then(function(response){
                    that.formas_pagamentos = response.formas_pagamentos;
                    that.produtos          = response.produtos;
                    that.produtos_tabs          = response.produtos_tabs;
                    that.dados_abertura_caixa   = response.dados_abertura_caixa;
                    that.caixa_fechado   = response.caixa_fechado;
                    that.dados_fechamento   = response.dados_fechamento;
                });
                this.calcula_lista_produtos();
            },
            inserir_lista(){
                let adicionado = false;
                let that = this;
                let novoItem = that.item;
                that.item = '';
                let i = 0;
                that.key = '';
                if(this.lista_produtos_compra.length == 0){
                    novoItem.amount = 1;
                    that.lista_produtos_compra.push(novoItem);
                } else if(this.lista_produtos_compra.length > 0){
                    $.each(this.lista_produtos_compra, function(index, value){
                        if(value.id == novoItem.id){
                            that.lista_produtos_compra[i].amount += 1;
                            adicionado=true;
                        }
                        i++;
                    });
                    if(novoItem!=null && adicionado==false){
                        novoItem.amount = 1;
                        that.lista_produtos_compra.push(novoItem);
                    }
                }
                adicionado = false;
                that.calcula_lista_produtos();
            },
            adicionar_lista(item){
                let adicionado = false;
                let that = this;
                let novoItem = item;
                that.item = '';
                let i = 0;
                that.key = '';
                if(this.lista_produtos_compra.length == 0){
                    novoItem.amount = 1;
                    that.lista_produtos_compra.push(novoItem);
                } else if(this.lista_produtos_compra.length > 0){
                    $.each(this.lista_produtos_compra, function(index, value){
                        if(value.id == novoItem.id){
                            that.lista_produtos_compra[i].amount += 1;
                            adicionado=true;
                        }
                        i++;
                    });
                    if(novoItem!=null && adicionado==false){
                        novoItem.amount = 1;
                        that.lista_produtos_compra.push(novoItem);
                    }
                }
                adicionado = false;
                that.calcula_lista_produtos();
            },
            calcula_lista_produtos(){
                let that = this;
                that.valor_total = 0.00;
                $.each(this.lista_produtos_compra, function(key, item){
                    that.valor_total += (parseInt(item.amount) * parseFloat(item.valor));
                });
            },
            finalizar_compra(){
                let that = this;
                $.ajax({
                    url: window.web_app + '/api/payment-method',
                    data:{
                        _token: window._token,
                        formas_pagamentos: that.formas_pagamentos,
                        lista_produtos_compra: that.lista_produtos_compra,
                        users_id: that.form.users_id,
                        events_id: that.form.events_id
                    },
                    dataType:'json',
                    method: 'post'
                }).done(function (response) {
                    $('#exampleModalLong').modal('hide');
                    window.open(
                        window.web_app + '/admin/sales/' + response.id,
                        "_blank",
                        "toolbar=0,scrollbars=1,resizable=0,top=10,left=500,width=400,height=600"
                    );
                    that.lista_produtos_compra = [];
                    that.carregar_lista();
                })
                .fail(function(response){
                    let html = '';
                    that.dados_abertura_caixa.valor = 0;
                    if(typeof response.responseJSON == 'object' || typeof response.responseJSON == 'Array'){
                        $.each(response.responseJSON, function(item, value){
                            html += value + "<br>";
                        });
                    } else{
                        html = response.responseJSON
                    }
                    that.$swal(
                        'Atenção',
                        html,
                        'warning');
                });
            },
            imprimir(){
                window.print();
            },
            imprimir_fechamento(){
                window.open(
                    window.web_app + '/api/forca-de-vendas/fechamento-caixa/' + this.dados_fechamento.id,
                    "_blank",
                    "toolbar=0,scrollbars=1,resizable=0,top=10,left=500,width=400,height=600"
                );
            },
            closure(){
                let that = this;
                $.ajax({
                    url: window.web_app + '/api/forca-de-vendas/fechamento-caixa',
                    data:{
                        users_id: that.form.users_id,
                        events_id: that.form.events_id
                    },
                    dataType:'json',
                    method: 'post'
                }).done(function (response) {
                    that.caixa_fechado = true;
                    that.dados_fechamento = response;
                    that.$swal(
                        'Sucesso',
                        'Fechamento concluido com sucesso.',
                        'success');
                })
                .fail(function(response){
                    let html = '';
                    that.dados_abertura_caixa.valor = 0;
                    if(typeof response.responseJSON == 'object' || typeof response.responseJSON == 'Array'){
                        $.each(response.responseJSON, function(item, value){
                            html += value + "<br>";
                        });
                    } else{
                        html = response.responseJSON
                    }
                    that.$swal(
                        'Atenção',
                        html,
                        'warning');
                });
            },
            formas_pagamento_zerar(){
                for(var i =0; i <= this.formas_pagamentos.length; i++ ){
                    this.formas_pagamentos[i].valor = '0.00';
                }
            },
            get_produtos(key){
                return this.produtos_tabs.produtos[key];
            },
            open_modal_abertura_caixa(){
                return this.dados_abertura_caixa.value <= 0;
            }
        }
    }
</script>

<style scoped>
    body.enlarged {
        min-height: 200px !important;
    }
    .form-control-lg{
        padding: 15px;
        height: 35px;
    }
</style>