.event-box {
    border: solid 1px #c7c7c7;
}

.css-upload-cover-box {
    width: 100%;
    padding: 100px;
    border: dashed 2px #d4d4d4;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
}

.navbar-default{
    background-color: #fff !important;
}
