<template>
    <li class="list-inline-item dropdown notification-list"  v-if="nao_visualizado > 0">
        <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="false" aria-expanded="false">
            <i class="dripicons-bell noti-icon"></i>
            <span
                    v-if="nao_visualizado > 0"
                    class="badge badge-pink noti-icon-badge">{{nao_visualizado}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-lg" aria-labelledby="Preview">
            <!-- item-->
            <div class="dropdown-item noti-title">
                <h5><span
                        v-if="total > 0"
                        class="badge badge-danger float-right">{{total}}</span>
                        Notificações</h5>
            </div>

            <!-- item-->
            <a  v-for="item in lista"
                :href="root + '/admin/notifications/show'"
                class="dropdown-item notify-item">
                <div class="notify-icon bg-danger">
                    <i :class="item.icon"></i>
                </div>
                <p class="notify-details">
                    {{item.title}}
                    <small class="text-muted ">{{item.description}}</small>
                </p>
            </a>

            <!-- All-->
            <a :href="root + '/admin/notifications/show'"
               class="dropdown-item notify-item notify-all">
                Ver todas as notificações
            </a>

        </div>
    </li>
</template>

<script>
    export default {
        name: "notifications",
        data(){
            return {
                lista:[],
                total:0,
                nao_visualizado:0,
                root: window.web_app
            }
        },
        created(){
            this.get_lista();
        },
        methods:{
            get_lista(){
                let that = this;
                $.ajax({
                    url: window.web_app + '/api/notifications/' + window.user_id,
                    data:{
                        status:0,
                        limit:6
                    },
                    type: 'get',
                    dataType: 'json',
                    beforeSend:function(){

                    }
                }).done(function (response) {
                    that.lista = response.lista;
                    that.total = response.total;
                    that.nao_visualizado = response.nao_visualizado;
                }).fail(function (response) {

                });
            }
        }
    }
</script>

<style scoped>

</style>